{% extends 'base.html' %}

{% block content %}
<div class="d-flex justify-content-center align-items-center">
    <div class="card col-lg-5 col-md-6 m-5 bg-secondary">
        <div class="card-header text-center">
            <h3 class="m-1">Are you sure you want to delete this section?</h3>
        </div>
        <div class="card-body">

            {% if section_todos|length == 0 %}
                <h5>{{ section_info.title }} section haven't any Todo ...</h5>
            {% else %}
                <h5 class="mb-4">If you delete section {{ section_info.title }}, these {{ section_todos|length  }} todos will also be deleted: </h5>
                <div class="row text-center  gap-2  justify-content-center">
                {% for todo in section_todos %}
                    <div class="card col-md-2">
                        <div class="card-body">
                            <h5 class="card-title">
                                {{todo.title}}
                            </h5>
                        </div>
                    </div>
                {% endfor %}
                </div>
            {% endif %}
        </div>
        <div class="card-footer">
            <form action="" method="post" class="d-flex gap-2">
                {% csrf_token %}
                <a href="{% url 'sections:sections' %}" class="btn btn-danger w-50">Cancel</a>
                <button type="submit" class="btn btn-warning w-50">Delete</button>

            </form>
        </div>
    </div>
</div>
{% endblock %}